body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  max-width: 800px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgba(237, 228, 234,15)
}

.controls {
  display: flex;
  flex-direction: column;
}
.author{
  color: rgba(189, 136, 161, 50);
}
.heading{
  color: rgba(87, 63, 79, 50);
  text-align: center;
}
.message {
  color: rgba(87, 63, 79, 50);
}
.main {
  display: flex;
  padding: 20px;
}
.chat-block {
  margin-left: 20px;
  width: 70%;
}
.chat-list {
  width: 30%;
}
.newchat {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.newchat-button {
  color: rgba(87, 63, 79, 50);
}