/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.wrapper {
  color: white;
  width: 400px;
  padding: 10px;
  margin-top: 10px;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(70, 67, 67);
}
.message-button {
  font-weight: bold;
  text-transform: uppercase;
  width: 104px;
  height: 46px;
  border-radius: 23px;
  background-color: #f16d7f;
  border: none;
  cursor: pointer;
  color: white;
  outline: none;
}
.controls {
  display: flex;
  flex-direction: column;
}
.input {
  display:block;
  max-width:100%;
  line-height:1.5;
  padding:15px 15px 30px;
  border-radius:3px;
  border:1px solid darkslategray;
  margin-bottom: 20px;
}
